*{
    text-decoration: none;
    list-style: none;
}
.logo{
    width: 186px;
    height: 72px;
}
.link{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    text-align: justify;
    color: #FFFFFF;
}
.header{
    width: 1440px;
    height: 150px;
    background-image: url(imgs/footerbg.jpg);
}