*{
    text-decoration: none;
    list-style: none;
}
img, button{
    display: block;
}
.container{
    width: 1440px;
    margin: 0 auto;
}

.header{
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image:linear-gradient(to right, rgba(43, 74, 97, 0.87), rgba(43, 74, 97, 0.87)), url('../imgs/hbg.jpg')  ;
    position: sticky;
    top: 0;
}


.header-main{
    height: 150px;
    width: 1440px;
    display: flex;
    border-bottom: 3px solid #FFFFFF;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-left: 204px ;
}

.header-left{
    display: flex;
    justify-content: space-between;
    width: 680px;
}

.logo{
    display: flex;
    margin-right: 168px;
    width: 186px;
    height: 72px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.listt{
    width: 325px;
    text-decoration: none;
    list-style:none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-list{
    display: flex;
    width: 281px;
}
.nav-p{
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'Inter',sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    text-decoration: none;
}
.nav-p:hover{
    color:#2196F3;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #94CFFF;
}
.nav-p:focus{
    color:#2196F3;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #94CFFF;
}
.nav-list a {
    text-decoration: none;
    color: #FFFFFF;
}
.button{
    display: block;
    margin-left: 180px;
    margin-right: 49px;
    width: 65px;
    height: 25px;
    font-family: 'Headland One',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    color: #26C6EA;
    box-sizing: border-box;
    width: 141px;
    height: 41.69px;
    background: #0B0E66;
    border: 2px solid #26C7EA;
    border-radius: 35px 0px;
}
.ua{
    margin-left: 14px;
    width: 21px;
    height: 20px;
    font-family: 'Hammersmith One';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}
.eng{
    margin-right: 10px;
    width: 30px;
    height: 20px;
    font-family: 'Hammersmith One';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}
.header-right{
    height: 20px;
    width: 107px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right:48px ;
}
.img{
    width: 320px;
    height: 381px;
    object-fit:cover;
    display: block;
    border-radius: 40px;
}
.fb{
    width: 40px;
    height: 40px;
}
.section{
    height: 1300px;
    background-image:radial-gradient(circle, rgba(54,82,106,1) 0%, rgba(19,22,28,0.12228641456582634) 100%), url(../imgs/herobg.jpg);
}
.team{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 1250px;
    background: rgb(90,93,84);
    background: radial-gradient(circle, rgba(90,93,84,1) 0%, rgba(172,171,164,1) 100%);
    border-radius: 30px;
    height: 1100px;
    padding: 30px 0;

}
.card{
    margin:auto;
    width: 320px;
    height: 500px;
    background: rgb(90,93,84);
    background: linear-gradient(90deg, rgba(90,93,84,1) 0%, rgba(172,171,164,1) 100%);
    border-radius: 40px;
    box-shadow: 0 10px 4px rgba(0, 0, 0, 0.291);
}
p{
    color: #141414;
    text-align: justify;
    font-size: 24px;
    font-family: HeadlandOne;
    line-height: 24px;
    margin: 10px auto;
    display: flex;
    justify-content: center;
}
ul,h4, p{
    padding: 0;
    margin: 0;
}
h4{
    color: antiquewhite;
    text-align: justify;
    font-size: 20px;
    font-family: Inter;
    font-weight: 300;
    margin: 10px auto;
    display: flex;
    justify-content: center;
}
h1{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 34px;
    padding-top: 10px;
    color: #09354e;
}
.pocket{
    width: 300px;
    height: 50px;
    margin: 0 auto 10px;
}
.footer{
    width: 1440px;
    height: 223px;
    display: flex;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image:linear-gradient(to right, rgba(43, 74, 97, 0.87), rgba(43, 74, 97, 0.87)), url('../imgs/fbg.jpg')  ;
    
}

.footer-logo{
    padding: 77px 80px 76px 204px;
}

.line{
    margin-top: 35px;
    display: flex;
    height: 153px;
}

.email{
    display: flex;
    align-items: center;
    width: 665px;
    margin: 80px 228px 16px 80px;
}

.qname{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: justify;
    color: #FFFFFF;
}

.border-line{
    background-image: url(../imgs/bottomvector.svg);
    width: 269px;
    height: 2.5px;
    margin-left: 20px;
    margin-right: 20px;
    
}

.coop-email{
    display: flex;
    align-items: center;
    gap: 20px;
    width: 689px;
    margin-left: 80px;
}

.border-line-2{
    background-image: url(../imgs/againvector.svg);
    width: 194px;
    height: 2.5px;
}

.last{
    display: flex;
    padding: 37px 414px 25px 211px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}
